<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello world</title>
    <!-- development version, includes helpful console warnings -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>

<body>
    <div id="app">
        <p>{{message}}</p>
        <label for="name">Name</label>
        <input v-model="username" type="text" required>
        <p v-if="count == 0"> Count not staterted yet</p>
        <p v-else-if="count >= 5"> Yamatekudasai </p>
        <p v-else> No of counts: {{count}}</p>

        <ul>
            <li v-for="username in visitors">{{username}}</li>
        </ul>
        <button v-on:click="letsGo">Lets Goo!</button>
    </div>

</body>
<script type="text/javascript" src="application.js"></script>

</html>
